<%- include('../components/head.ejs', { title: "All Employees" }) %>
<%- include('../components/navbar.ejs', { showAddButton: true }) %>
<body>
    <h1>All Employees</h1>
    <a href="/employee/new">
        <button>Add New Employee</button>
    </a>
    <br>
    <br>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <% for (const employee of employees) { %>
            <tr>
                <td>
                    <%= employee.username %>
                </td>
                <td>
                    <%= employee.email %>
                </td>
                <td>
                    <%= employee.department %>
                </td>
                <td>
                    <%= employee.position %>
                </td>
                <td>
                    <%= employee.salary %>
                </td>
                <td>
                    <a href="/employee/<%= employee._id %>">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <form action="/employee/<%=employee._id%>/delete?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>